.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: move;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 50px;
  color: #6e6d6d;
}

.drag-over {
  background-color: #EDEAED;
  z-index: 2;
  border: none;
  outline: none;
}

.drag-over .content {
  color: #EDEAED;
  border: none;
  outline: none;
}

