<div class="list-item"
     [draggable]="true"
     [draggingItemIndex]="itemIndex"
     [draggingListIndex]="listIndex"
     [listItemIndex]="itemIndex"
     [listIndex]="listIndex"
     appDragDrop>
  <div class="content">
    <span>{{ item }}</span>
    <span>=</span>
  </div>
</div>
